@import '../../home/sass/_mixins';
@import '../../home/sass/home';
@import '../../home/sass/home';

// ///////////////////////////////////////

.pagetitle{
    height: 70vh;
    background-image: url(../imgs/breadcumb.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 105px;
        text-transform: uppercase;
    }
    h6{
        word-spacing: 10px;
        span{
            color: $btn-hover;
            word-spacing: 1px;
        }
    }
}
@media (max-width:575px){
    .pagetitle{
        h1{
            font-size: 36px;
        }
    }
}
// /////////////////////////////////////////////

.product{
    padding: 100px 180px 50px;
    .container{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 30px;
        .image{
            background-color: #F4F1EA;
            padding: 75px 125px;
            border-radius: 10px;
            position: relative;
            img{
                border: dashed 1px $btn-hover;
                border-radius: 50%;
                padding: 5px;
            }
        }
        .details{
            .nameandprice{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 50px;
                    text-transform: capitalize;
                    color: #010F1C;
                    font-family: "Epilogue", sans-serif;
                }
            }
            .stars{
                color: gold;
            }
            .cus{
                color: gray;
            }
            .text{
                color: gray;
                padding-top: 10px;
                border-top: 1px solid;
                margin: 0;
            }
            .botons{
                display: flex;
                align-items: center;
                gap: 20px;
                .boton{
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    background-color: $btn-hover;
                    position: relative;
                    padding: 13px 25px 13px 25px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    z-index: 1;
                    overflow: hidden;
                    border: none;
                    cursor: pointer;
                    @include before-after-hover($orange-color);
                    &:hover{
                        background-color: $btn-hover;
                    }
                    p{
                        margin: 0;
                    }
                    &:last-child{
                        background-color: $orange-color;
                        @include before-after-hover(#010F1C);
                        &:hover{
                            background-color: $orange-color;
                        }
                    }
                }
            }
            input{
                margin: 30px 0;
                outline: none;
                border: 1px solid gray;
                border-radius: 6px;
                width: 80px;
                padding: 5px 10px;
                + i{
                    margin-left: 5px;
                    font-size: 18px;
                    padding: 5px;
                    border: 1px solid gray;
                    border-radius: 50%;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(128, 128, 128, 0.1);
                    }
                    + i{
                        font-size: 18px;
                        padding: 5px;
                        border: 1px solid gray;
                        border-radius: 50%;
                        cursor: pointer;
                        &:hover{
                            background-color: rgba(128, 128, 128, 0.1);
                        }
                    }
                }
            }
            .share{
                display: flex;
                align-items: center;
                gap: 30px;
                margin: 20px 0;
                p{
                    text-transform: capitalize;
                    margin: 0;
                    font-weight: 700;
                    font-family: "Epilogue", sans-serif;
                }
                .sociallinks{
                    i{
                        border: 1px solid gray;
                        padding: 7px;
                        border-radius: 50%;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover{
                            background-color: $btn-hover;
                            color: white;
                            border-color: $btn-hover;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:992px){
    .product{
        padding: 100px 20px 50px;
        .container{
            flex-wrap: wrap;
        }
    }
}
@media (max-width:767px){
    .product{
        .container{
            .image{
                padding: 30px;
                img{
                    width: 270px;
                }
            }
            .details{
                .share{
                    gap: 15px;
                    .sociallinks i{
                        margin: 0;
                    }
                }
                .botons{
                   .boton{
                       gap: 5px;
                       padding: 13px 20px;
                   }
               }
            }
        }
    }
}
// ////////////////////////////////////////////

.product-description{
    padding: 0 180px 20px;
    h3{
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px;
        text-transform: capitalize;
        color: #010F1C;
        font-family: "Epilogue", sans-serif;
    }
    p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: gray;
        &:last-child{
            padding: 30px 0;
            border-bottom: 1px solid gray;
        }
    }
}
@media(max-width:992px){
    .product-description{
        padding: 0px 20px;
    }
}
// /////////////////////////////////

.reviews{
    padding: 50px 180px;
    h3{
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px;
        text-transform: capitalize;
        color: #010F1C;
        font-family: "Epilogue", sans-serif;
        padding-bottom: 30px;
    }
    .review{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.482);
        h4{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            text-transform: capitalize;
            margin-bottom: 5px;
            color: #010F1C;
            font-family: "Epilogue", sans-serif;
        }
        p{
            color: gray;
        }
        .details{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .stars{
            color: gold;
            i:last-child{
                color: #edeae3;
            }
        }
    }
}

@media(max-width:992px){
    .reviews{
        padding: 50px 20px;
        .review{
            flex-wrap: wrap;
        }
    }
}

// /////////////////////////////////

.add-review{
    padding: 50px 180px;
    .form{
        background-color: #F4F1EA;
        padding: 60px;
        border-radius: 10px;
        h3{
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 50px;
            text-transform: capitalize;
            color: #010F1C;
            font-family: "Epilogue", sans-serif;
            padding-bottom: 30px;
        }
        p{
            color: gray;
            margin: 0;
        }
        > .roww{
            display: flex;
            align-items: center;
            margin: 25px 0;
            gap: 20px;
            .stars{
                color: $btn-hover;
                i{
                    cursor: pointer;
                }
            }
        }
        form{
            .roww{
                display: flex;
                align-items: center;
                gap: 30px;
                input{
                    width: 50%;
                    outline: none;
                    background-color: #f8f9fa;
                    border: none;
                    padding: 15px 10px;
                    font-size: 1rem;
                }
            }
            textarea{
                    width: 100%;
                    outline: none;
                    background-color: #f8f9fa;
                    border: none;
                    padding: 15px 10px;
                    font-size: 1rem;
                    height: 150px;
                    margin: 30px 0;
            }
            > input{
                margin-right: 5px;
            }
            label{
                display: inline;
            }
        }
        p:last-child{
                color: white;
                margin: 30px 0 20px;
                width: fit-content;
                background-color: $btn-hover;
                position: relative;
                padding: 13px 25px 13px 25px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                z-index: 1;
                overflow: hidden;
                border: none;
                cursor: pointer;
                @include before-after-hover($orange-color);
                &:hover{
                    background-color: $btn-hover;
                }
        }
    }
}
@media(max-width:992px){
    .add-review{
        padding: 50px 20px;
        .form{
            padding: 25px;
            form{
                .roww input{
                    width: 100%;
                }
            }
        }
    }
}
// /////////////////////////////////

.dishes{
    background-color: #F4F1EA;
}